Source: vph-secproxy
Priority: extra
Maintainer: Marek Kasztelnik <m.kasztelnik@cyfronet.pl>
Build-Depends: debhelper (>= 8.0.0), openjdk6-jre, openjdk6-jdk
Standards-Version: 3.9.2
Section: security
Homepage: http://vphshare.org
#Vcs-Git: git://git.debian.org/collab-maint/vph-secproxy.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/vph-secproxy.git;a=summary

Package: vph-secproxy
Section: security
Architecture: all
Depends: openjdk-6-jre | openjdk-6-jdk | oracle-java7-installer | oracle-jdk7-installer
Description: Security Proxy for VPH Share applications
 Security Proxy is responsible for checking VPH Share user credentials and 
 forward only those request which fulfil security constraints
